
html{
    overflow-x: hidden;
    display: flex;
}


body{
    font-family: sans-serif;
    font-size: 25px;
    background-color: #FAF9F8;
    
}


.logo{
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 30px;
    margin-right: 20px;
    width: 300px;
}

.profil{
    width: 300px;
    border-radius: 60%;
    display: flex;
    margin: 30px;
    margin-top: 10px ;
    margin-bottom: 20px;
    clip-path: circle();
}

.btn{
    display: flex;
    flex-direction: column;
    
}

.style{
    background-color:#C8CCF0;
    border-radius:10px;
    color: #382633;
    text-decoration: none; 
    text-align: center;
    margin: 15px;
    padding: 15px;

}

.style:hover{
    background: #F25639;
    color: #382633;
}

.text{
    margin: 5px;
    padding: 20px;
    text-align: center;
    
}

@media screen and (min-width:412px) {

    .logo{
        display: flex;
        align-items: center;
        margin: 50px;    
    }
    
    .profil{
        display: flex;
        align-items: center;
        margin: 50px;
    }
        
    }
    
    @media screen and (min-width:500px) {
      
    .logo{
        display: flex;
        width: 350px;
        margin-left: 100px;   
        }
    
     .profil{
        width: 375px;
        margin: 50px;
        }
    }
    
    @media screen and (min-width:700px ) {
    
        .logo{
            width: 400px;
            margin-left: 10rem;   
            }
        
         .profil{
            width: 400px;
            margin-left: 10rem;
            }
    } 
    
    
        
    @media screen and (min-width: 970px){
    
        .logo{
            width: 450px;
            margin-left: 20rem;   
            }
        
         .profil{
            width: 400px;
            margin-left: 20rem;
            }
        .style{
            margin-left: 100px;
        }
        .text{
          
            margin-left: 5rem;
            text-align: center;
    }  



}

@media screen and (min-width: 1366px){
    .logo{
        width: 500px;
        margin-left: 30rem;   
        }
    
     .profil{
        width: 450px;
        margin-left: 30rem;
        }
    .style{
        margin: 20px;
        margin-left: 25rem;
        padding: 20px;
  
    }
    .text{
        text-align: center;
        margin: 10px;
        margin-left: 36%;

    }
}

@media screen and (min-width: 1920px)
{
    .logo{
        width: 55rem;
        margin-left: 35rem;   
        }
    
     .profil{
        width: 45rem;
        margin-left: 40rem;
        }
    .style{
        margin: 40px;
        margin-left: 25rem;
        padding: 20px;
        font-size: 50px;
    }
    .text{
        text-align: center;
        margin: 25px;
        margin-left: 15%;
        font-size: 50px;

    }
}