/*Importeret font*/
@font-face {
    font-family: poppins_brød; 
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins_overskrift;
    src: url(font/Poppins-Bold.ttf);
}

html{
    overflow-x: hidden;
    display: flex;
}


body{
    font-family: poppins_overskrift;
    background-color: #FAF9F8;
    
}


.logo{
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 30px;
    margin-right: 20px;
    width: 300px;
}

/*Vi har benyttet circle() for at forme billedet efter behov - link - 
https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path?fbclid=IwAR1yLUUdd_uHpd4MHZG34tIqZeXAdHTCG6oJYsyt0Sn_e--fX5PB-v1ZNkM */
.profil{
    width: 300px;
    border-radius: 60%;
    display: flex;
    margin: 30px;
    margin-top: 10px ;
    margin-bottom: 20px;
    clip-path: circle();
}

.btn{
    display: flex;
    flex-direction: column;
    
}

.style{
    background-color:#C8CCF0;
    font-size: 25px;
    border-radius:10px;
    color: #382633;
    text-decoration: none; 
    text-align: center;
    margin: 15px;
    padding: 15px;

}

.styletwo{
    background-color:#C8CCF0;
    font-size: 25px;
    border-radius:10px;
    color: #382633;
    text-decoration: none; 
    text-align: center;
    margin: 15px;
    padding: 15px;

}

.style:hover{
    background: #F25639;
    color: #382633;
}

.styletwo:hover{
    background: #F25639;
    color: #382633;
}

.text{
    font-family: poppins_brød;
    margin: 5px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    
}

/*media query start - tilpasning af forskellige skærm størrelser*/

@media screen and (min-width:412px) {

    .logo{
        display: flex;
        align-items: center;
        margin: 50px;    
    }
    
    .profil{
        display: flex;
        align-items: center;
        margin: 50px;
    }
        
    }
    
    @media screen and (min-width:500px) {
      
    .logo{
        display: flex;
        width: 350px;
        margin-left: 100px;   
        }
    
     .profil{
        width: 375px;
        margin: 50px;
        }
    }
    
    @media screen and (min-width:700px ) {
    
        .logo{
            width: 400px;
            margin-left: 10rem;   
            }
        
         .profil{
            width: 400px;
            margin-left: 10rem;
            }
    } 
    
    
        
    @media screen and (min-width: 970px){
    
        .logo{
            width: 450px;
            margin-left: 20rem;   
            }
        
         .profil{
            width: 400px;
            margin-left: 20rem;
            }
        .style{
            margin-left: 100px;
        }

        .styletwo{
            margin-left: 100px;
        }

        .text{
          
            margin-left: 5rem;
            text-align: center;
    }  



}

@media screen and (min-width: 1366px){
    .logo{
        width: 500px;
        margin-left: 30rem;   
        }
    
     .profil{
        width: 450px;
        margin-left: 30rem;
        }
    .style{
        margin: 20px;
        margin-left: 25rem;
        padding: 20px;
  
    }

    .styletwo{
        margin: 20px;
        margin-left: 25rem;
        padding: 20px;
  
    }

    .text{
        text-align: center;
        margin: 10px;
        margin-left: 36%;

    }
}

@media screen and (min-width: 1920px)
{
    .logo{
        width: 55rem;
        margin-left: 35rem;   
        }
    
     .profil{
        width: 45rem;
        margin-left: 40rem;
        }
    .style{
        margin: 40px;
        margin-left: 25rem;
        padding: 20px;
        font-size: 50px;
    }

    .styletwo{
        margin: 40px;
        margin-left: 25rem;
        padding: 20px;
        font-size: 50px;
    }

    .text{
        text-align: center;
        margin: 25px;
        margin-left: 15%;

    }
}