
html{
    overflow-x: hidden;
    display: block;
}


body{
    font-family: sans-serif;
    font-size: 25px;
    background-color: #FAF9F8;
    
}


.logo{
    display: block;
    margin: 40px;
    margin-left: 30px;
    margin-right: 20px;
    width: 300px;
}

.profil{
    width: 300px;
    border-radius: 60%;
    display: block;
    margin: 30px;
    margin-top: 10px ;
    margin-bottom: 20px;
    clip-path: circle();
}

.btn{
    display: flex;
    flex-direction: column;
    
}

.style{
    background-color:#C8CCF0;
    border-radius:10px;
    color: #382633;
    text-decoration: none; 
    text-align: center;
    margin: 15px;
    padding: 15px;

}

.style:hover{
    background: #F25639;
    color: #382633;
}

.text{
    margin: 10px;
    padding: 50px;
    
}

@media screen and (min-width 500px) {

.logo{
    
}
    
}